<p>New Project is Posted by <%=@user.email %></p>
<p>Project Details are:</p>
<ul>
	<li><%=@project.title%></li>
	<li><%=@project.description%></li>
	<li><%=@project.budget%></li>
	<li><%=@project.deadline%></li>
</ul>

